@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lato&family=Mukta:wght@200&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/* .group::before,
.group::after {
  content: "";
  clear: both;
}
.group::after {
  clear: both;
  zoom: 1;
} */


/* =============Typoghraphy============== */

body {
    font-family: "lato";
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.current a {
    color: orangered;
}


/* ===============header=================== */

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3em;
    padding: 1.5em 3.74em;
}

.primary-nav ul {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.primary-nav li {
    text-decoration: none;
    display: block;
    font-weight: 300;
    font-size: 16px;
    margin-left: 1.6em;
    font-weight: bold;
    /* padding-top: 1em; */
}

.primary-nav li :hover {
    color: orangered;
}


/* ========section======== */

.section {
    height: auto;
}

.hero {
    min-height: 100vh;
    background: url(/images/slider/1.jpg);
    background-size: cover;
}

.content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.details {
    line-height: 41px;
    margin-top: 15em;
}

.hello {
    color: orangered;
    font-size: 23px;
    margin-bottom: 1em;
}

.name {
    font-size: 59px;
    margin-bottom: 14px;
}

.job {
    font-size: 20px;
    margin-bottom: 1em;
}

.text {
    font-size: 19px;
    color: #999191;
}

.avatar {
    margin-top: 3em;
}


/* test */

.container {
    max-width: 90%;
    margin: auto;
    padding: 16px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.menu-items {
    margin-left: 26px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid orangered;
    padding: 8px 15px;
    border-radius: 21px;
    max-width: 100px;
    z-index: 2;
    overflow: hidden;
}

.btn:hover:before {
    transform: translate(0, 0);
}

.btn a:hover {
    transform: translate(0, 0);
}

.btn ::before {
    position: absolute;
    content: "";
    /* background-color: orangered; */
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    transform: translateY(-100, -100);
    transition: all ease 0.4s;
    width: 100%;
}

.about-btn {
    border: 2px solid orangered;
    display: inline-block;
    padding: 0px 29px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 22px;
    background: orangered;
}

.about-btn a {
    color: #fff;
}

.hero .social {
    position: relative;
    display: flex;
    bottom: 41px;
    left: 182px;
}

.hero .social li a {
    display: block;
    text-align: center;
    margin-left: 19px;
    text-decoration: none;
}

.hero .social ul li {
    float: right;
}


/* .flex-wrapper {
    display: flex;
    padding-left: 0;
    align-items: center;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 120px;
}

.grid-content h2 {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

.grid-content p {
    font-size: 17px;
    text-align: center;
    padding: 18px 44px;
    color: #626262;
    line-height: 2em;
}

.brush {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px auto;
}


/* ==============section 3rd================ */

.left-content img {
    position: relative;
    /* min-height: 100vh; */
    background-size: contain;
    border-radius: 21em;
    background-repeat: no-repeat;
}

.wrapper {
    display: grid;
    margin-top: 5em;
    grid-template-columns: repeat(2, 1fr);
}

.right-content {
    padding: 20px;
    margin-top: 3em;
    margin-left: 4em;
    line-height: 2em;
}

h2 {
    font-size: 22px;
    font-weight: lighter;
    color: orangered;
}

h1 {
    font-size: 42px;
    font-weight: lighter;
    line-height: 1.2em;
}

p {
    font-size: 18px;
    opacity: 50%;
}

.popup-icon {
    display: flex;
    position: absolute;
    top: 183px;
    left: -25px;
    line-height: 30px;
    padding: 27px;
    border-radius: 12px;
    align-items: center;
    background: #fff;
    width: 118px;
}

.popup-icon strong {
    margin-right: 10px;
    font-size: 43px;
    color: lightgreen;
}

.position {
    position: absolute;
    left: 382px;
    top: 386px;
    padding: 45px;
    width: max-content;
}

.position strong {
    color: rgb(53 32 213 / 57%);
}

.btn2 a {
    padding: 0 3px;
}

.btn2 {
    margin-top: 15px;
}

.section_3 {
    background-image: url(/images/brushes/about/1.png);
    background-repeat: no-repeat;
    position: relative;
    margin: auto 5em;
}

.right-bottom1 {
    background-repeat: no-repeat;
    position: relative;
    width: min-content;
    z-index: -10;
    left: 16em;
    bottom: -15em;
}

.right-bottom {
    background-repeat: no-repeat;
    position: relative;
    width: min-content;
    z-index: -10;
    left: 53em;
    bottom: 17em;
}

.top-left {
    position: absolute;
    top: -2em;
    left: 3em;
}


/* ===================section-4============= */

.section-4 {
    position: relative;
}

.main-title h2,
h1,
p {
    display: flex;
    justify-content: center;
    margin-top: 0.3em;
    line-height: 1.5em;
}

.link-list {
    margin-top: 5em;
}

.link-list li {
    float: left;
    margin: 1.7em;
    font-weight: bold;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-gap: 2em;
    margin-top: 2em;
    grid-template-rows: repeat(3, 292px);
    justify-content: center;
    align-items: center;
}

.box img {
    border-radius: 1em;
}

.box1 {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}

.box3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.box4 {
    grid-row-start: 2;
    grid-row-end: 4;
    /* grid-column-start: 2;
  grid-column-end: ; */
}


/* ============section-5=============== */

.right-content img {
    position: relative;
    top: -19em;
}

.section-5 .skills .left-content {
    margin-right: 100px;
    margin-top: -133px;
}

.design-content {
    width: 46%;
    display: inline-block;
    margin-left: 20px;
    height: auto;
    z-index: 1;
    border: 1px solid whitesmoke;
    background: #fff;
    margin-top: 3em;
}

.main-title {
    position: relative;
    margin-bottom: 4em;
}

.design .design-content .text {
    width: 277px;
}

.design-content img {
    margin-left: 3em;
    margin-top: 3em;
}

.float-right {
    position: relative;
    left: -53px;
    height: 259px;
    line-height: 2.5em;
    bottom: -18px;
    float: right;
}

.section-6 {
    background-color: #fff;
    margin-top: -893px;
}

.section-6 .top-right {
    background-repeat: no-repeat;
    position: relative;
    top: 32em;
    right: -64%;
}

.top-center {
    position: relative;
    left: -12px;
    top: 513px;
}

.section-7 .top-right {
    position: relative;
    top: 119px;
    right: -78%;
}

.border-radius img {
    border-radius: 10em;
}

.img1 {
    position: relative;
    left: 89px;
}

.img2 {
    position: relative;
    top: 226px;
}

.img3 {
    position: relative;
    left: 223px;
    top: 30px;
}

.flex-right {
    justify-content: flex-end;
}

.left-details {
    max-width: 25%;
}

.img4 {
    position: relative;
    bottom: 188px;
    right: -50px;
}

.img5 {
    position: relative;
    right: -103px;
    top: -29px;
}

.img6 {
    position: relative;
    top: 20px;
    right: 211px;
}

.circle {
    border: 11px solid green;
    border-radius: 10em;
    position: relative;
    width: 0;
    top: 199px;
    left: 24px;
}

.yellow {
    top: 310px;
    border: 11px solid #d5d50f;
    top: 310px;
    left: 155px;
}

.hollow {
    border: 18px solid rgb(109, 34, 196);
    width: 0;
    border-radius: 10em;
    position: relative;
    top: 94px;
    right: -233px;
}

.circle2 {
    position: absolute;
    border: 15px solid #fff;
    border-radius: 10em;
    right: -15px;
    bottom: -15px;
}

.partner-name {
    width: 284px;
    opacity: 41%;
    border: 1px solid gray;
}

.partner-name:hover {
    cursor: pointer;
    opacity: 100%;
}

.partner-name img {
    padding: 55px;
}

.position-relative {
    position: relative;
    top: 92px;
}

.flex img {
    border-radius: 1em;
    margin: 10px;
}

.align-right {
    margin-left: -44px;
}

.main-title .top-right {
    position: absolute;
    top: -108px;
    right: 0;
}

.news {
    position: relative;
    margin-top: 8em;
}

.news .top-center {
    position: absolute;
    left: 91px;
    top: 79px;
}